div{
    background-color: brown;
    margin-bottom:10px;
    padding:10px;
}
.push{
    height:600px;
    background-image: url("image/new/pexels-scott-webb-1029599.jpg");
    margin-bottom:10px;
    padding:10px;
}